* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: arial;
  font-size: 18px;  
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header {
    height: 80px;
    width: 90%;
    background-color: rgb(175, 232, 168);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo {
    width: 100px;
}
.cart {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid {
    color: rgb(10, 70, 2);
}
.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(10, 70, 2);
    color: #fff;
}
.container {
    display: flex;
    width: 90%;
    margin-bottom: 30px;

}

.sidebar {
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head {
    background-color: rgb(10, 70, 2);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
}
.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

/* products css */
#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    padding: 20px 0px;
    width: 80%;
}
.box {
    border: 1px solid rgb(10, 70, 2);
    border-radius: 5px;
    padding: 15px;
    width: 250px;
}
.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2 {
    font-size: 20px;
    color: red;
}
button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(10, 70, 2);
    padding: 7px 25px;
    cursor: pointer;
    color: #fff;
}
button:hover {
    background-color: #333;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-bottom: 1px solid rgb(10, 70, 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover {
    cursor: pointer;
    color: #333;
}



/* https://www.youtube.com/watch?v=sf_ac-dYh3w */